a.button {
    background-color: #f05d7b;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

a.button:hover {
    background-color: #d8536e;
}
